
/*	TEMPLATES 
-----------------------------------------------------------------------------------------*/

/*	TABLES 
-----------------------------------------------------------------------------------------*/
table {
	thead {
		tr {
			th {
				font-weight: bold;
				&.actions {
					text-align: right; 
				}
			}
		}
	}
	tbody {
		tr {
			td {
				&.actions {
					text-align: right;
				}
			}
		}
	}
	&.table-show {
		td.field {
			font-weight: bold;
			width: 20%;
		}
		td.value {
			width: 80%
		}
	}
}

/*	FORMS 
-----------------------------------------------------------------------------------------*/
form {
	.form-group {
		.filebrowser {
			.panel-footer { 
				.dz-default {
					line-height: 30px;
					text-align: center;
				} 
			}
			.panel-body {
				ul.files {
					list-style: inside none;
					display: block;
					margin: -3px;
					padding: 0;
					li.dz-details {
						display: block;
						margin: 0;
						float: left;
						.dz-details-inner {
							position: relative;
							img  {}
						}
						.file-actions {
							display: none;
							bottom: 15px;
							left: 0;
							position: absolute;
							text-align: center;
							width: 100%;
						}	
						&:hover {
							.file-actions {
								display: block;
							}
						}	
						&.dz-processing {
							.dz-progress {
								bottom: 0;
								height: 10px;
								position: absolute;
								width: 100%;;
								.dz-upload {
									position: absolute;
									height: 100%;
									background-color:red;
									z-index: 9;
								}
							}
						} 
						&.dz-complete {
							.dz-progress {
								display: none;
							}
						}
					}
				}
			}
		}
		
	}
}