/*	TEMPLATES 
-----------------------------------------------------------------------------------------*/

/*	TABLES 
-----------------------------------------------------------------------------------------*/
table {
	thead {
		tr {
			th {
				font-weight: bold;
				&.actions {
					text-align: right; 
				}
			}
		}
	} 
	tbody {
		tr {
			td {
				&.actions {
					 text-align: right;
				}
			}
		}  
	}
	&.table-show {
		td.field {
			font-weight: bold;
			width: 20%;
		}
		td.value {
			width: 80%
		}
	}
}


/*	MODALS 
-----------------------------------------------------------------------------------------*/
.modal {
	.modal-header {}
	.modal-body {
		.progress,
		img {
			max-width: 100%;
		}
		.alert {
			margin: 0;
		}
	}
}


/*	FORMS 
-----------------------------------------------------------------------------------------*/
form {
	.form-group {
		.filebrowser {
			.panel-body {}
			ul.files {
				display: block;
				list-style: inside none;
				margin: -1%;
				padding: 0;
				.dz-message {
					margin: 40px 0;
					padding: 0;
					text-align: center;
				}
				li.dz-details {  
					margin: 1%;
					width: 48%;
					float: left;
					.dz-details-inner  {
						cursor: pointer;
						position: relative;
						.file-thumnails {
							display: block;
							float: left; 
							height: 80px;
							width: 80px;
						}
						.file-infos { 
							display: block;
							height: 80px;
							padding-left: 90px;
							.file-summary {
								display: block;
								height: 50px;
								.file-name {
									display: block;
								}
								.file-type {
									display: block;
								}
							}
							.file-actions {
								display: block;
								text-align: right;
								height: 30px;
							}
						}
					}
					&.ui-state-highlight {
						background-color: #eee;
						outline: 2px dotted #ddd;
					}
					&.dz-complete {
						.dz-progress {
							display: none;
						}
					}
				}
			}
			
		}
		
	}
}