
/*	TEMPLATES 
-----------------------------------------------------------------------------------------*/

/*	TABLES 
-----------------------------------------------------------------------------------------*/
table {
	thead {
		tr {
			th {
				font-weight: bold;
				&.actions {
					text-align: right;
					width: 20%;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				&.actions {
					text-align: right;
				}
			}
		}
	}
}

/*	FORMS 
-----------------------------------------------------------------------------------------*/
form {
	.form-group {
		.filebrowser {
			.dz-default {
				line-height: 30px;
				text-align: center;
			} 
			ul.files {
				list-style: inside none;
				margin: -5px;
				padding: 0;
				li.dz-details {
					display: block;
					float: left;
					margin: 5px;
					height: 100px;
					width: 100px;
					.thumbnail {
						display: inline-block;
						height: 100px;
						width: 100px;
					}
				}
			}
		}
		
	}
}