/* IMPORT AND VARIABLES
   ============================= */

@import 'mixins';

$spaceUnit:			40px;
$widthSidebar:	    240px;
$colorText: 		#efefef;
$colorForeground:	#3b9cff;
$backgroundColor: 	#333;

/* Various fixes */
.touch body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
.mobile-only { display: none; }


/* Smartphone and smaller views */
@media only screen and (max-width: 767px) {
	
	$heightSidebar: 60px;
	$spaceUnit: 30px;

	.mobile-only { display: block; }

	html.open-nav,
	html.open-nav body {
		overflow: hidden !important;
	}

	/* STRUCTURE
   ============================= */

	/* SIDEBAR */
	#sidebar { 
		line-height: $heightSidebar;
		margin: 0;
		height: $heightSidebar;
		min-height: $heightSidebar;
		padding: 0 $spaceUnit;
		position: absolute;
		width: 100%;
		@include box-shadow( 0 1px 20px rgba(0,0,0,0.4));
		#nav-open-action {
			color: $colorText; 
			display: block;
			font-size: 28px;
			float: right;
		}
		.brand {
			float: left;
			font-size: 22px;
			line-height: 16px;
			padding: 18px 0 10px 0;
			small {
				font-size: 13px;
				line-height: 13px;
			}
		}
		.spacer {
			display: none;
		}
		nav {
			background-color: transparentize(#000, 0.1);
			height: 100vh;
			line-height: 100vh;
			left: 0;
			opacity: 0;
			padding: 80px 0 0 0;
			position: fixed;
			top: -100vh;
			text-align: center;
			width: 100%;
			z-index: 999;
			@include transition(all 0.2s ease-out);
			#nav-close-action {
				display: block;
				color: $colorText;
				font-size: 30px;
				line-height: 30px;
				left: 30px;
				position: absolute;
				top: 30px;
			}
			ul {  
				display: block;
				vertical-align: middle;
				margin-bottom: 15px;
				li {
					a, a:visited {
						font-size: 22px;
						line-height: 52px;
					}
				}
			}
			html.open-nav & {
				opacity: 1;
				top: 0;
				@include transition(all 0.2s ease-out);
			}
		}
		footer {
			display: none;
		}
	}

	/* CONTENT */
	#content {
		padding: $spaceUnit;
		padding-left: $spaceUnit;
		padding-top: $spaceUnit + $heightSidebar;
		padding-bottom: $spaceUnit + 120px; // 120px => heigth footer
		.vegas-caption {
			bottom: $spaceUnit + 120px;
		}
		.mask-content {
			padding: $spaceUnit;
		}
	}

	/* FOOTER */
	#footer-mobile {
		bottom: $spaceUnit;
		position: absolute;
		padding: 0;
		margin: 0 -($spaceUnit);
		width: 100%;
		footer {
			background-color: transparentize(#000, 0.6);
			padding: 20px 0;
			height: 120px;
			position: relative;
			text-align: center;
			width: 100%;
			.spacer { 
				display: inline-block; 
				border-top: 1px solid $backgroundColor + 40;
				margin: 10px 0 5px 0;
				width: 80%; 
			}
			.social {
				padding: 0;
				li {
					margin-right: 6px;
					a, a:visited {
						font-size: 26px;
					}
				}
			} 
			.copyright { 
				padding: 0;
				margin: 0;
			}
		}
	}


	/* LIGHTBOX
	   ============================= */
	.fancybox-skin {
		.fancybox-title {
			display: none;
		}
	}
	
}


/* Smaller view only */
@media only screen and (max-width: 479px) {

	$heightSidebar: 80px;
	$spaceUnit: 15px;

	/* STRUCTURE
   ============================= */

	/* SIDEBAR */
	#sidebar {
		padding: 0 $spaceUnit;
		footer {
			padding: 0 $spaceUnit;
		}
	}

	/* CONTENT */
	#content {
		padding: $spaceUnit;
		padding-left: $spaceUnit;
		padding-top: $spaceUnit + $heightSidebar;
		padding-bottom: $spaceUnit + 120px;
		.mask-content {
			padding: $spaceUnit;
		}
	}

	/* FOOTER */
	#footer-mobile {
		bottom: $spaceUnit;
		margin: 0 -($spaceUnit);
	}
}
