/* IMPORT AND VARIABLES
   ============================= */
@import 'mixins';

$paddingInner:		40px;
$colorText: 		#efefef;
$colorForeground:	#3b9cff;
$backgroundColor: 	#111;


/* STRUCTURE
   ============================= */

html {
	background: $backgroundColor;
	background-attachment: fixed;
	height: 100%;
	min-height: 100%;
}
body {
	color: $colorText;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 26px;
	height: 100%;
	min-height: 100%; 
}

div {
	//outline: 1px solid blue; 
}

#global,
#global > .row {
	height: 100%;
	min-height: 100%;
}

/* SIDEBAR */
#sidebar {
	background-color: $backgroundColor - 20;
	height: 100%;
	min-height: 100%;
	padding: $paddingInner;
	position: fixed;
	z-index: 9;
	@include box-shadow( 0 1px 20px rgba(0,0,0,0.4));
	.brand {
		font-size: 28px;
		color: $colorText;
		text-decoration: none;
	}
	.spacer {
		border-bottom: 1px solid #444;
		margin: 30px 0; 
	}
	ul {
		list-style: inside none;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			a, a:visited {
				display: block;
				color: $colorText;
				font-size: 16px;
				line-height: 34px;
				text-decoration: none;
				text-transform: uppercase;
				&:hover,
				&.active {
					color: $colorForeground;
				}
			}
		}
	}
}

/* CONTENT */
#content {
	height: 100%;
	min-height: 100%;
	padding: $paddingInner;
	.backstretch-caption {
		background-color: rgba(0,0,0,0.8);
		bottom: 0;
		max-width: 60%;
		opacity: 0;
		padding: 20px;
		position: absolute;
		right: 50px;
		@include transition(all 0.2s ease-in);
		@include box-shadow( 0 1px 20px rgba(0,0,0,0.4));
		span {
			display: block;
			&.title {
				border-bottom: 1px solid $colorText - 60;
				color: $colorForeground;
				font-size: 28px;
				margin-bottom: 20px;
				padding-bottom: 20px;
				text-transform: uppercase;
			}
			&.legend {
				color: $colorText;
				font-size: 20px;
			}
		}
		&.current {
			opacity: 1;
			bottom: 50px;
			@include transition(all 0.4s ease-out);
		}
	}
}

footer {
	position: fixed;
	bottom: $paddingInner;
	left: $paddingInner;
}

/* OVERLAYS
   ============================= */
.overlay {
	background-color: transparentize($backgroundColor, 0.2);
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999;
	&.loading {
		display: block;
		line-height: 100vh;
		text-align: center;
		span { 
			background: transparentize(#fff, 0.9);
			color: #fff;
			display: inline-block;
			font-family: Arial;
			font-size: 13px;
			font-weight: 100;
			line-height: 24px;
			padding: 6px 12px;
			vertical-align: middle;
			@include border-radius(3px);
		}
	}
}


/* SHORCODES
   ============================= */

.portfolio {
	outline: 1px solid red;
	.item {

		float: left;
	
		.mask {
			display: none;
		}
		 img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
	}
}


/* LIGHTBOX
   ============================= */
.fancybox-skin {
	.fancybox-item,
	.fancybox-nav span {
		background-image: none;
		background-color: transparentize(#000, 0.2);
		color: #fff;
		display: inline-block;
		font-size: 16px;
		height: auto;
		line-height: 16px;
		padding: 4px 8px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: auto;
	}

	.fancybox-item {
		position: absolute;
		top: 0;
		right: 0;
	}
	.fancybox-prev span {
		left: 0;
	}
	.fancybox-next span {
		right: 0;
	}

	.fancybox-title {
		.caption-title {
			color: #fff;
		}
		.caption-legend {
			color: #fff - 100;
		}
	}
}